<style>
  .row {
    margin-top: 16px;
  }

  .card {
    margin: 2px;
    padding: 4px;
    display: block;
    border: solid black 1px;
    border-radius: 4px;
  }

  .title {
    padding: 4px;
    font-size: 24px;
    background-color: wheat;
  }

  .title__img {
    display: table-cell;
    vertical-align: middle;
  }

  .title__text {
    padding-left: 4px;
    padding-right: 4px;
    display: table-cell;
    vertical-align: middle;
  }

  .body {
    padding: 4px;
    background-color: beige;
  }

  .buttons {
    padding: 4px;
    background-color: wheat;
    text-align: right;
  }


  .card--row {
    display: table-cell;
  }

  .small--text {
    font-size: 12px;
  }

  .title--right {
    direction: rtl;
  }
</style>

<div class="row">
  <div class="card">
    <div class="title">
      <div class="title__img"><img src="https://placeimg.com/160/120/any"
             alt="LGBTQI"></div>
      <div class="title__text">The Next 3 Things To Immediately Do About Hungary</div>
    </div>
    <div class="body">Úgy döntöttem végül, hogy elhagyom a hazámat és elmegyek valahova, ahol biztonságban élhetek és
      végre az lehetek, aki vagyok. Magyarországra menekültem, egy hétig itt maradtam aztán úgy döntöttem Dániába
      megyek.
      Azért döntöttem így, mert sokat olvastam arról, hogy melyik EU tagállam biztonságos az LGBTQI emberek számára.
      Ugyanakkor nem tudtam a Dublini szabályozásról, elmentem Dániába, barátságokat kötöttem emberekkel, és menekült
      státuszért folyamodtam. Hét hónappal később azt mondták Magyarországra deportálnak a Dublini rendszer miatt,
      megkeresték a magyar hatóságokat, ahol megerősítették, hogy Magyarországon léptem először az EU-ba. 2013-ban egy
      őrrel az oldalamon feltettek egy gépre, és Magyarországra deportáltak.</div>
    <div class="buttons">
      <button>Submit</button>
      <button>Cancel</button>
    </div>
  </div>
</div>

<div class="row">
  <div class="card card--row">
    <div class="title">
      <div class="title__img"><img src="https://placeimg.com/160/120/any"
             alt="LGBTQI"></div>
      <div class="title__text">The Next 3 Things To Immediately Do About Hungary</div>
    </div>
    <div class="body small--text">Úgy döntöttem végül, hogy elhagyom a hazámat és elmegyek valahova, ahol biztonságban
      élhetek és
      végre az lehetek, aki vagyok. Magyarországra menekültem, egy hétig itt maradtam aztán úgy döntöttem Dániába
      megyek.
      Azért döntöttem így, mert sokat olvastam arról, hogy melyik EU tagállam biztonságos az LGBTQI emberek számára.
      Ugyanakkor nem tudtam a Dublini szabályozásról, elmentem Dániába, barátságokat kötöttem emberekkel, és menekült
      státuszért folyamodtam. Hét hónappal később azt mondták Magyarországra deportálnak a Dublini rendszer miatt,
      megkeresték a magyar hatóságokat, ahol megerősítették, hogy Magyarországon léptem először az EU-ba. 2013-ban egy
      őrrel az oldalamon feltettek egy gépre, és Magyarországra deportáltak.</div>
    <div class="buttons">
      <button>Submit</button>
      <button>Cancel</button>
    </div>
  </div>

  <div class="card card--row">
    <div class="title">
      <div class="title__img"><img src="https://placeimg.com/160/120/any"
             alt="LGBTQI"></div>
      <div class="title__text">The Next 3 Things To Immediately Do About Hungary</div>
    </div>
    <div class="body small--text">Úgy döntöttem végül, hogy elhagyom a hazámat és elmegyek valahova, ahol biztonságban
      élhetek és
      végre az lehetek, aki vagyok. Magyarországra menekültem, egy hétig itt maradtam aztán úgy döntöttem Dániába
      megyek.
      Azért döntöttem így, mert sokat olvastam arról, hogy melyik EU tagállam biztonságos az LGBTQI emberek számára.
      Ugyanakkor nem tudtam a Dublini szabályozásról, elmentem Dániába, barátságokat kötöttem emberekkel, és menekült
      státuszért folyamodtam. Hét hónappal később azt mondták Magyarországra deportálnak a Dublini rendszer miatt,
      megkeresték a magyar hatóságokat, ahol megerősítették, hogy Magyarországon léptem először az EU-ba. 2013-ban egy
      őrrel az oldalamon feltettek egy gépre, és Magyarországra deportáltak.</div>
    <div class="buttons">
      <button>Submit</button>
      <button>Cancel</button>
    </div>
  </div>

  <div class="card card--row">
    <div class="title">
      <div class="title__img"><img src="https://placeimg.com/160/120/any"
             alt="LGBTQI"></div>
      <div class="title__text">The Next 3 Things To Immediately Do About Hungary</div>
    </div>
    <div class="body small--text">Úgy döntöttem végül, hogy elhagyom a hazámat és elmegyek valahova, ahol biztonságban
      élhetek és
      végre az lehetek, aki vagyok. Magyarországra menekültem, egy hétig itt maradtam aztán úgy döntöttem Dániába
      megyek.
      Azért döntöttem így, mert sokat olvastam arról, hogy melyik EU tagállam biztonságos az LGBTQI emberek számára.
      Ugyanakkor nem tudtam a Dublini szabályozásról, elmentem Dániába, barátságokat kötöttem emberekkel, és menekült
      státuszért folyamodtam. Hét hónappal később azt mondták Magyarországra deportálnak a Dublini rendszer miatt,
      megkeresték a magyar hatóságokat, ahol megerősítették, hogy Magyarországon léptem először az EU-ba. 2013-ban egy
      őrrel az oldalamon feltettek egy gépre, és Magyarországra deportáltak.</div>
    <div class="buttons">
      <button>Submit</button>
      <button>Cancel</button>
    </div>
  </div>

  <div class="card card--row">
    <div class="title">
      <div class="title__img"><img src="https://placeimg.com/160/120/any"
             alt="LGBTQI"></div>
      <div class="title__text">The Next 3 Things To Immediately Do About Hungary</div>
    </div>
    <div class="body small--text">Úgy döntöttem végül, hogy elhagyom a hazámat és elmegyek valahova, ahol biztonságban
      élhetek és
      végre az lehetek, aki vagyok. Magyarországra menekültem, egy hétig itt maradtam aztán úgy döntöttem Dániába
      megyek.
      Azért döntöttem így, mert sokat olvastam arról, hogy melyik EU tagállam biztonságos az LGBTQI emberek számára.
      Ugyanakkor nem tudtam a Dublini szabályozásról, elmentem Dániába, barátságokat kötöttem emberekkel, és menekült
      státuszért folyamodtam. Hét hónappal később azt mondták Magyarországra deportálnak a Dublini rendszer miatt,
      megkeresték a magyar hatóságokat, ahol megerősítették, hogy Magyarországon léptem először az EU-ba. 2013-ban egy
      őrrel az oldalamon feltettek egy gépre, és Magyarországra deportáltak.</div>
    <div class="buttons">
      <button>Submit</button>
      <button>Cancel</button>
    </div>
  </div>
</div>

<div class="row">
  <div class="card">
    <div class="title title--right">
      <div class="title__img"><img src="https://placeimg.com/160/120/any"
             alt="LGBTQI"></div>
      <div class="title__text">The Next 3 Things To Immediately Do About Hungary</div>
    </div>
    <div class="body">Úgy döntöttem végül, hogy elhagyom a hazámat és elmegyek valahova, ahol biztonságban élhetek és
      végre az lehetek, aki vagyok. Magyarországra menekültem, egy hétig itt maradtam aztán úgy döntöttem Dániába
      megyek.
      Azért döntöttem így, mert sokat olvastam arról, hogy melyik EU tagállam biztonságos az LGBTQI emberek számára.
      Ugyanakkor nem tudtam a Dublini szabályozásról, elmentem Dániába, barátságokat kötöttem emberekkel, és menekült
      státuszért folyamodtam. Hét hónappal később azt mondták Magyarországra deportálnak a Dublini rendszer miatt,
      megkeresték a magyar hatóságokat, ahol megerősítették, hogy Magyarországon léptem először az EU-ba. 2013-ban egy
      őrrel az oldalamon feltettek egy gépre, és Magyarországra deportáltak.</div>
    <div class="buttons">
      <button>Submit</button>
      <button>Cancel</button>
    </div>
  </div>
</div>